/PojoWsAlmacen/nbproject/private/
/PojoWsAlmacen/build/
/PojoWsAlmacen/dist/
/PagoOnline/build/
/PagoOnline/dist/
/PagoOnline/nbproject/private/
/Tienda/dist/
/MiTienda/nbproject/private/
/PojoWsPago/build/
/PojoWsPago/dist/
/PojoWsPago/nbproject/private/